.main-container
  display: flex
  gap: 2rem
  max-width: 1400px
  margin: 2rem auto
  padding: 0 1rem
  height: calc(100vh - 100px)

.board-container
  flex: 3
  display: flex
  flex-direction: column
  gap: 2rem

.suggestions-container
  flex: 1
